<section class="s-block s-block--hero-slider">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="{{ 'images/placeholder.png' | asset }}" alt="Slide 1" class="w-full h-auto">
            </div>
            <div class="swiper-slide">
                <img src="{{ 'images/placeholder.png' | asset }}" alt="Slide 2" class="w-full h-auto">
            </div>
            <div class="swiper-slide">
                <img src="{{ 'images/placeholder.png' | asset }}" alt="Slide 3" class="w-full h-auto">
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section> 
